html {
    background-color: lavenderblush;
  }
ul { 
    padding: 0px;
    text-align: center;
 }
 li {
    float: left;
    width: auto;
    padding-left: 10px;
    list-style: outside none none;
    text-align: center;
    margin-bottom: 20px;;
 }
